<app-immersive-form-row>
  <label for="{{id()}}">{{ label() }}</label>
  <input [(ngModel)]="contents"
         [attr.max]="max()"
         [attr.min]="min()"
         [attr.placeholder]="hasPlaceholder ? placeholder() : undefined"
         [attr.step]="step()"
         class="immersive-number-field"
         id="{{id()}}"
         spellcheck="true"
         type="number">
</app-immersive-form-row>

@if (hasDescription) {
  <app-immersive-description [content]="String(description())"/>
}
