.immersive-form-row {
  margin: 0;
  padding: 0;
  min-height: var(--standard-line-height);
  max-height: var(--standard-line-height);

  width: 100%;
  align-items: center;
  display: inline-flex;
  justify-content: space-between;
}
