<div class="immersive-content">
  <app-immersive-time-span-field [description]="'The total amount of time a poll will be active for.'"
                                 [id]="'duration'"
                                 [label]="'Duration'"/>
  <app-immersive-number-field [description]="'The maximum amount of options that can appear in a poll at any given time.'"
                              [id]="'maximum-options'"
                              [label]="'Maximum options'"/>
  <app-immersive-checkbox [checked]="true"
                          [description]="'Whether the mod will attempt to use the platform\'s native polling instead of using a chat-based approach.'"
                          [id]="'prefer-native-polls'"
                          [label]="'Prefer native polls'"/>
  <app-immersive-checkbox [checked]="true"
                          [description]="'Whether the mod should also show a window displaying the current poll being held.'"
                          [id]="'enable-poll-dialog'"
                          [label]="'Poll dialog'"/>
  <app-immersive-checkbox [checked]="true"
                          [description]="'Whether the poll dialog will use a larger font size when displaying options.'"
                          [id]="'large-text'"
                          [label]="'Large text'"/>
  <app-immersive-checkbox [checked]="true"
                          [description]="'Whether the poll dialog will animate votes as they come in.'"
                          [id]="'animate-votes'"
                          [label]="'Animate votes'"/>
  <app-immersive-checkbox [checked]="true"
                          [description]="'Whether the mod will randomly generate polls from the game\'s event list, including mod events.'"
                          [id]="'random-polls'"
                          [label]="'Random polls'"/>
  <app-immersive-checkbox [checked]="true"
                          [description]="'Whether the mod will post active polls in chat.'"
                          [id]="'options-in-chat'"
                          [label]="'Options in chat'"/>
</div>
